.sidebar {
  background-color: #333; /* Color de fondo oscuro */
  color: #fff; /* Color de texto blanco */
  overflow-y: auto; /* Agrega scroll si el contenido excede la altura */
  display: flex;
  height: 100vh; /* Asegura que el sidebar ocupe toda la altura de la ventana */
  flex-direction: column;
  border: none;
  min-height: 100%; /* Permite que el sidebar ocupe al menos el 100% de su contenedor */
}

.add-board {
  display: flex; /* Alineación horizontal */
  align-items: center; /* Alinea verticalmente al centro */
}

.board-label {
  margin-right: 10px; /* Espacio entre el texto y el botón */
  font-size: 16px; /* Tamaño de la fuente */
  text-align: left !important;
  width: 150px;
  padding: 10px;
}

.button-task {
  background: none; /* Sin fondo */
  border: none; /* Sin borde */
  color: #ffffffbc; /* Color del texto */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  font-weight: bold; /* Texto en negrita */
  text-align: left; /* Alinear el texto a la izquierda */
}

.button-task:hover {
  text-decoration: underline; /* Subrayar al pasar el mouse */
}

.user-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: end;
  padding: 10px;
  color: #fff; /* Color del icono */
  margin-top: auto; /* Empuja el botón hacia abajo */
}

.user-icon {
  font-size: 24px; /* Tamaño del icono */
}

.board-button {
  background: none; /* Sin fondo */
  border: none; /* Sin borde */
  color: #ffffffbc; /* Color de texto blanco */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  padding: 8px 0; /* Espaciado vertical */
  text-align: left; /* Alinear el texto a la izquierda */
  padding-left: 10px !important ;
}

.board-button:hover {
  text-decoration: underline; /* Subrayar al pasar el mouse */
}

.task-list-sidebar {
  display: flex; /* Usar flexbox */
  flex-direction: column; /* Colocar los elementos en columna */
  margin-top: 10px; /* Espacio entre el botón y la lista de tableros */
  flex-grow: 1; /* Ocupa el espacio restante, empujando el botón de usuario hacia abajo */

}
